container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    justify-items: center;
}

h1{
    color: red;
}

.carregando{
    text-align: center;
	font-family: 'Russo One', sans-serif;
    margin-top: 100px;
}

container:hover{
    animation: bounce;
    animation-duration: 1s;

}