.card{
    height: 60vh !important;
    background-color: #fff0 !important;
    border: 0 !important;
    align-items: center !important;
    cursor: pointer;
}

.card-img, .card-img-bottom, .card-img-top{
    height: 30vh !important;
    width: 30vh !important;

}

.card-body{
    text-align: center !important;
    padding: 0 !important;
}

@media(max-width:800px){
    card-img, .card-img-bottom, .card-img-top{
        height: 20vh !important;
        width: 20vh !important;
    
    }
}