.change-local header{
    margin-top: 0;
}
.container{
    margin-top: 60px;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 80vh;
    width: 50vh;
    border-radius: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Russo One', sans-serif;

}
.info .card{
    display: flex;
    width: 20vw;
    justify-content: flex-start;
    position: absolute;
    z-index: 1;
    top: 60px;
    cursor:unset;
}

.info .card-img, .card-img-bottom, .card-img-top {
    height: 15vh !important;
    width: 15vh !important;
}

.info h1{
    text-shadow: 1px 1px black;
   color: white;
}

.info h6{
    font-size: 75%;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    opacity: 0.5;    
}

.info h5{
    display: flex;
    font-size: 90%;
    text-shadow: 1px 1px black;
    color: white;
}

.info .tipos span{
    text-shadow: 1px 1px black;
    color: white;
}

.badge{
     font-size: 131% !important;
}

.progress{
    height: 0.5rem !important; 
}

.container +.container{
    display: flex;
    opacity: 0;
}