.presentation{
    margin-bottom: 80px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(325px,1fr));
    justify-items: center;
}

.presentation span{
    font-family: 'Do Hyeon', sans-serif !important;
}

.explicao{
    
}

@media(max-width:800px){
    
}